/*****************
 *    Blog         *
 *****************/

.blog-logo {
  font-size: 2rem;
  font-family: 'Roboto Slab';  
  margin-top: -0.5em;
}


.blog-title h1{
  font-size: 2rem;
  /*font-family: Arial;*/
  font-family: 'Roboto Slab';
  /*border-bottom: 1px solid black;*/
}

.blog-content{
  /*font-family: 'Roboto Slab';*/
}
.blog-content h1{
  font-size: 1.2em;
}

.blog-content ul, ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  	margin-left: 2em;
}

.blog-content h1, h2, h3{
  font-family: 'Arial';
  margin-top: 2em;
  margin-bottom: 1em;
}

blockquote {
}

img.blog-img {
	max-width: 100%; 
	display:block; 
	margin-left: auto;
	margin-right: auto;
}

.ansatz {
  font-size: 0.75em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #eee;
  border-radius: 5px;
  /*border-left: 1px solid #bbb;*/
  /*border-right: 1px solid #bbb;*/

}

