
.footer {
  font-size: 1em;
  padding-top: 2em;
  clear: both;
  margin-bottom: 3em;
}


/****************
 *    Navbar    *
 ****************/

.nav {
  margin-bottom: 5rem;
}

.nav-link {
  padding: .25rem 0;
  border-bottom: 1px solid transparent;
  color: #0095ff;
  font-weight: 300;
  font-size: 1em;
  margin-left: 1rem;
}



.nav-link:hover,
.nav-link:focus {
  border-bottom-color:  #0095ff;
}


.nav .active {
  border-bottom-color:  #0095ff;
}


/*****************
 *    Contact    *
 *****************/

.header {
}

.profile-pic {
  height: 10em;
  border-radius: 50%;
  border: 2px solid #fff;
}


.item {
  font-size: 1rem;
  display: inline;
  padding-right: 0.5rem;
}

.fa {
    width: 1.2em;
    font-size: 1em;
    margin-right: 0.25em;
}

.fa.social {
  width: 1em;
  font-size: 1.2em;
}
/* Social Media Brand Colors */
.google-plus { color: #dd4b39; }
.facebook    { color: #3b5998; }
.linkedin    { color: #007bb6; }
.instagram   { color: #517fa4; }
.twitter     { color: #00aced; }
.github      { color: #171515; }


.fade0 {
  /*color: #ff1493;*/
  /*color: #438D80;*/
  /*color: #0095ff;*/
  /*color: #FFA500;*/
  opacity: 0.1;
}
.fade1 {
  /*color: #ff1493;*/
  /*color: #438D80;*/
  /*color: #0095ff;*/
  /*color: #FFA500;*/
  opacity: 0.2;
}
.fade2 {
  /*color: #008000;*/
  /*color: #FFA500;*/
  opacity: 0.3;
}
.fade3 {
  /*color: #FFA500;*/
  opacity: 0.4;
}
.fade4 {
  /*color: #FFA500;*/
  opacity: 0.5;
}

.scholar_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../google-scholar.svg");
  background-size: contain;
}

