
/*****************
 *    CV         *
 *****************/

section.CV-section{
    clear: both;
    padding-top: 0em;
}

section.CV-section ~ section.CV-section {
    padding-top: 2em;
}


.CV-entry {
    clear: both;
}

.CV-entry .date {
    float: left;
    width: 10em;
    height: 1em;
    color: rgba(0,0,0,0.5);
    margin-bottom: 0.5em;
}

.CV-entry .body 
{
    float: left;
    clear: left;
    margin-bottom: 0.5em;
}

.CV-entry .body 
.position, .company, .summary, .tags {
    float: left;
    clear: left;
}

.CV-entry .body 
.company {
    /*clear: left;*/
    color: #0095ff;
}

.CV-entry .body 
.position {
    font-weight: 700;
    margin-right: 0.4em;
}

.what {
    font-weight: 300;
}

.CV-entry .body 
.summary{
    /*display: none;*/
    /*font-size: 0.82em;*/
    font-size: 0.82em;
    /*font-weight: 300;*/
    /*color: rgba(0,0,0,1);*/
}


.summary a{
    /*display: none;*/
    color: #000;
    /*font-weight: 300;*/
    /*color: rgba(0,0,0,1);*/
}

.CV-entry .body 
.certificate {
    clear: left;
    font-size: 0.82em;
    margin-bottom: 0.5em;
    /*color: #0095ff;*/
}

.tags {
    /*font-size: 0.9em;*/
    /*font-weight: 700;*/
        /*color: #0095ff;*/
        /*color: rgba(0,0,0,0.5);*/
    display: none;
}
.tag {
    margin-right: 0.4em;
    float: left;
}

.clear {
    clear: left;
}

.indent {
    margin-left: 1.0em;
}

.small {
    font-size: 0.7em;
    font-weight: 300;
}



/* Customize container */
@media (min-width: 49em) {
  .container {
    max-width: 44rem;
  }
  .CV-entry .date {
    float: left;
    width: 11em;
   }
  .CV-entry .body {
    clear: none;
    width: 31em;
  }
  .CV-entry .body 
  .position, .company, .summary {
        /*clear: none;*/
  }
  .CV-entry .summary, .tags {

  }

}

